body {
    background: #f5fbff;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

.message {
    position: relative;
    padding: 12px 15px 5px 15px;
    background: white;
    border-radius: 3px;
    filter: drop-shadow(0 1px 2px rgba(36, 91, 140, 0.3));
    line-height: 150%;
    align-self: start;
    margin-bottom: 7px;
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.message > .message-name {
    font-size: 11px;
    font-weight: bolder;
}

.message > .message-time {
    font-size: 10px;
    color: darkgray;
    align-self: flex-end;
}

.message.self > .message-time {
    color: white;
}

.message.with-arrow:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-10px);
    width: 0;
    height: 0;
    border-bottom: 17px solid transparent;
    border-right: 17px solid white;
}

.message.self {
    background: #3794ff;
    color: white;
    align-self: flex-end;
}

.message.self.with-arrow:before {
    left: initial;
    right: 0;
    transform: translateX(10px);
    border-right: 0;
    border-left: 17px solid #3794ff;
}

.layout {
    height: 99vh;
    display: flex;
    flex-direction: column;
}

.controls {
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
    margin: 10px 0;
}

.controls-layout {
    position: sticky;
    bottom: 0;
    background-color: #f5fbff;
    padding: 10px 20px 10px 20px;
}

.messages {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    flex-direction: column;
    padding: 20px 20px 0 20px;
}

input,
button {
    height: 40px;
    padding: 0 15px;
    box-sizing: border-box;
    box-shadow: 0 1px 3px 1px rgba(36, 91, 140, 0.15);
    border: none;
}

input {
    border-radius: 9999px;
    background: white;
    flex-grow: 1;
    margin-right: 15px;
}

button {
    background: #3794ff;
    border-radius: 3px;
    color: white;
    font: inherit;
    font-size: 14px;
}


/*typing*/
.typing {
    color: darkgray;
    font-size: 14px;
    display: none;
}
